[Unit]
Description=Job Bot Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/jobee
ExecStart=.venv/bin/python3 run.py
Restart=always


[Install]
WantedBy=multi-user.target
